<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Noticias</title>
	</head>
	<body>
		<section class="py-5">
			<div class="container">
				<form>
					<div><h5>{{audioLivro}}</h5></div>
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong>Holy guacamole!</strong> You should check in on some of those fields below.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="form-group">
						<label >Título</label>
						<input type="text" ng-model="audioLivro.tituloAudioBook" class="form-control"  aria-describedby="emailHelp">
						<small  class="form-text text-muted">O título sera usado na busca pelo audio livro via comando de voz.</small>
					</div>
					<div class="form-group">
						<label>Assuntos</label>
						<ui-select multiple ng-model="audioLivro.listaAssunto" theme="bootstrap" close-on-select="false" title="Selecione um assunto...">
							<ui-select-match placeholder="Selecione um assunto...">{{$item.nome}}</ui-select-match>
							<ui-select-choices repeat="assunto as assunto in listaAssunto | filter:{nome: $select.search}">
								<div ng-bind-html="assunto.nome | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
						<small  class="form-text text-muted">Informar pelo menos um ou mais assuntos relacionados ao áudio livro.</small>
					</div>
					<div class="form-group">
						<label>Livro Referência</label>
						<ui-select ng-model="audioLivro.livro" theme="bootstrap">
							<ui-select-match placeholder="Selecione um Livro referência...">{{$select.selected.titulo}}</ui-select-match>
							<ui-select-choices repeat="livro as livro in listaLivro | filter:{titulo: $select.search}">
								<div ng-bind-html="livro.titulo | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
						<small  class="form-text text-muted">Informar ou cadastrar o livro que serviu de referencia para o audio livro. Caso o audio book não tenha referência deixe o campo vazio.</small>
					</div>
					<div class="form-group">
						<label >Url do Arquivo do Áudio Livro</label>
						<input type="text" ng-model="audioLivro.url" class="form-control"  aria-describedby="emailHelp">
						<small  class="form-text text-muted">Informar a url onde esta hospedado o arquivo do áudio livro. Cadastro com url não funcionais não seram aprovados.</small>
					</div>
					<div class="form-group">
						<label >Url da Versão Escrita </label>
						<input type="text" ng-model="audioLivro.urlTexto" class="form-control" aria-describedby="emailHelp">
						<small  class="form-text text-muted">Url da versão em texto do livro de referência ou audio livro caso exista. Caso não exista deixe o campo vazio.</small>
					</div>
					<div class="form-group">
						<label >Descriçao</label>
						<textarea class="form-control" ng-model="audioLivro.descricao" id="exampleFormControlTextarea1" rows="3"></textarea>
						<small  class="form-text text-muted">Breve descrição sobre o áudio livro.(Tamanho máximo de 255 caracteres)</small>
					</div>
				</form>
			</div>
			<div class="container">
					<div>
						<button type="button" ng-click="voltar()" class="btn btn-dark">Voltar</button>
						<button ng-show="!$state.params.id" type="button" ng-click="salvarLivro()" class="btn btn-dark">Cadastrar</button>
						<button ng-show="$state.params.id" type="button" ng-click="salvarLivro()" class="btn btn-dark">Salvar</button>
					</div>
			</div>
		</section>
	</body>
</html>