<head>
	<meta charset="UTF-8">
</head>
<div>	
	<span ng-bind="microfone"></span>
	<div class="alert alert-success" role="alert"></div>
		<p>{{microfone}}</p>
	<p></p>
	<div class="form-row">
		<label for="inputPlaca" class="col-sm-1 col-form-label">Placa</label>
		<div class="form-group col-md-11">
			<input type="text" class="form-control" id="inputPlaca"
				ui-mask="AAA-9999" ng-model="filtroAutomovel.placa" ng-change="atualizarTabela()"  >
		</div>
	</div>

	<div class="form-row">
		<label for="inputModelo" class="col-sm-1 col-form-label">Modelo</label>
		<div class="form-group col-md-11">
			<input type="text" class="form-control"
				placeholder="Modelo" ng-focus="autoComplete(filtroAutomovel.modelo)" ng-model="filtroAutomovel.modelo" ng-change="atualizarTabela()" ng-keyup="autoComplete(filtroAutomovel.modelo)">
			<ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
				<li class="list-group-item" ng-repeat="modelo in listaModeloAutoComplete" ng-click="fillTextbox(modelo.descricao)">{{modelo.descricao}}</li>
			</ul>
		</div>
	</div>

	<div class="form-row">
		<label for="inputModelo" class="col-sm-1 col-form-label">Fabricante</label>
		<div class="form-group col-md-5">
			<input type="text" class="form-control" id="inputModelo"
				placeholder="Fabricante"  ng-model="fabricanteTela.nome" readonly>
		</div>
		<div class="form-group col-md-5">
			<input type="text" class="form-control" id="inputFabricante"
				placeholder="Pais Fabricante" ng-model="fabricanteTela.pais.descricao" readonly>
		</div>
		<div class="form-group col-md-1">
			<button class="btn btn-primary" data-toggle="modal"
				data-target="#modalFabricante">Buscar Fabricante</button>
		</div>
	</div>

	<div class="form-row">
		<label for="inputModelo" class="col-sm-1 col-form-label">Tração</label>
		<div class="form-group col-md-11">
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio"
					name="inlineRadioOptions" id="inlineRadio1" ng-model="filtroAutomovel.tracao" ng-value="1" ng-change="atualizarTabela()">
				<label class="form-check-label" for="inlineRadio1">Combustão</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio"
					name="inlineRadioOptions" id="inlineRadio2"  ng-model="filtroAutomovel.tracao" ng-value="2" ng-change="atualizarTabela()">
				<label class="form-check-label" for="inlineRadio2">Elétrico</label>
			</div>
		</div>
	</div>

	<div class="form-row">
		<label for="inputModelo" class="col-sm-1 col-form-label">Categoria</label>
		<div class="form-group col-md-11">
			<select class="form-control" ng-model="filtroAutomovel.categoria" ng-options="categoria.id as categoria.descricao for categoria in listaCategoria" ng-change="atualizarTabela()">
					<option value="">---Selecione uma opção---</option>
			</select>
		</div>
	</div>
	
	<button type="button" class="btn btn-danger" ng-click="limparPrincipal()">Limpar</button>
	<p></p>
		
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Placa</th>
				<th scope="col">Modelo</th>
				<th scope="col">Tração</th>
				<th scope="col">Categoria</th>
				<th scope="col">Fabricante</th>
				<th scope="col">Opções</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="!lista.length">
                <td colspan="100%" class="text-center">Nenhum Carro Cadastrado</td>
            </tr>
			<tr ng-repeat = "automovel in lista">
				<td>{{automovel.placa}}</td>
				<td>{{automovel.modelo}}</td>
				<td>{{automovel.tracao}}</td>
				<td>{{automovel.categoria}}</td>
				<td>{{automovel.fabricante}}</td>
				<td>
					<button type="button" class="btn btn-success" ng-click="acessarAlterar(automovel.id)">Alterar</button>
					<button type="button" class="btn btn-danger" data-toggle="modal"
					data-target="#modalConfirmacao" ng-click="setRegistroExclusao(automovel.id)">Remover</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Modal Fabricante -->
<div class="modal fade bd-example-modal-lg" id="modalFabricante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro/Escolha de Fabricante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<form>
					<div class="form-row">
						<label for="inputPlaca" class="col-sm-2 col-form-label">Fabricante</label>
						<div class="form-group col-md-10">
							<input type="text" ng-model="filtroFabricante.nome" class="form-control" id="inputPlaca"
								placeholder="Digite o nome do fabricante para pesquisa ou cadastro" ng-change="atualizarTabelaFabricante()">
						</div>
					</div>
					<div class="form-row">
						<label for="inputModelo" class="col-sm-2 col-form-label">Pais</label>
						<div class="form-group col-md-10">
							<select class="form-control" ng-model="filtroFabricante.pais" ng-options="pais.id as pais.descricao for pais in listaPais" ng-change="atualizarTabelaFabricante()">
								<option value="">---Selecione um pais---</option>
							</select>
						</div>
					</div>
					<button type="button" class="btn btn-danger" ng-click="limparFabricante()">Limpar</button>
						
					<div>
					<p></p>
						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Fabricante</th>
									<th scope="col">Pais</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="!listaFabricanteView.length">
					               <td colspan="100%" class="text-center">Nenhum Registro Encontrado</td>
					           </tr>
								<tr ng-repeat = "fabricante in listaFabricanteView">
									<td>{{fabricante.nome}}</td>
									<td>{{fabricante.pais}}</td>
									<td>
										<button type="button" class="btn btn-success" ng-click=(selecionarFabricante(fabricante.id)) data-dismiss="modal">Selecionar</button>
									</td>
								</tr>	
							</tbody>
						</table>
					</div>
				</form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<!-- Modal Confirmacao -->
<div class="modal fade bd-example-modal-lg" id="modalConfirmacao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro/Escolha de Fabricante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
  				<p>Confirmar a exclusão do registro selecionado?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="removerAutomovel(registroExclusao)">Sim</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="registroExclusao = null">Não</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->