<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Noticias</title>
	</head>
	<body>
		<section class="py-5">
			<div class="container">
				<strong>Título</strong>
				<br>{{audioLivro.tituloAudioBook}}</br>
				<strong>Ledor</strong>
				<br>{{audioLivro.ledor}}</br>
				<strong>Livro original</strong>
				<br>{{audioLivro.tituloLivroReferencia}}</br>
				<strong>Assunto:</strong>
				<div ng-show="!audioLivro.listaAssunto">
					<br >Sem assuntos vinculados</br>
				</div>
				<div ng-show="audioLivro.listaAssunto">
					<ul>
						<li ng-show="audioLivro.listaAssunto" ng-repeat="assunto in audioLivro.listaAssunto">{{assunto.nome}}</li>
					</ul>
				</div>

				<strong>Descrição</strong>
				<br>{{audioLivro.descricao}}</br>

				<div ng-show="audioLivro.urlTexto">
					<br>
						<a href="{{audioLivro.urlTexto}}">Versão em texto</a>
					</br>
				</div>
				<div ng-show="!audioLivro.urlTexto">
					<br>
						Sem versão em texto
					</br>
				</div>
				<p></p>
				<strong>Audio</strong>
				<p></p>
				<audio preload="metadata" id="audio" src="{{audioLivro.url}}" controls></audio>

				<p></p>
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-secondary" ng-click="retrocederAudio()">Retornar</button>
					<button type="button" class="btn btn-success" ng-click="reproduzirAudio()">Reproduzir</button>
					<button type="button" class="btn btn-danger" ng-click="pararAudio()">Pausar</button>
					<button type="button" class="btn btn-secondary" ng-click="avancarAudio()">Avançar</button>
					<button type="button" class="btn btn-success" >Vol +</button>
					<button type="button" class="btn btn-danger" >Vol -</button>
				</div>
			</div>
			<p></p>
			<div class="container">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<button type="button" ng-click="voltar()" class="btn btn-secondary">Voltar (4)</button>
				</div>
			</div>
		</section>
	</body>
</html>