<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Noticias</title>
	</head>
	<body>
		<section class="py-5">
			<div class="container">
				<div class="card text-center">
					<div class="card-header">
						Chave de Cadastro
					</div>
					<div class="card-body">
						<h1 class="card-title">_ _ _ _ _</h1>
						<p class="card-text">As chaves geradas tem validade de 10 minutos.</p>
						<button type="button" ng-click="gerarChave()" class="btn btn-secondary">Gerar Chave</button>
					</div>
				</div>
				<p></p>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<button type="button" ng-click="voltar()" class="btn btn-secondary">Voltar</button>
				</div>
			</div>
		</section>
	</body>
</html>