<head>
	<meta charset="UTF-8">
</head>
<div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" ui-sref="menu" href="#">Centro de Ensino Especial de Deficientes Visuais</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" ui-sref="audioBusca" href="#">Biblioteca AudioBook(1)</a></li>
				<li class="nav-item"><a class="nav-link" ui-sref="agenda" href="#">Agenda de Clube do Ledor(2)</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<button ui-sref="principal" class="btn btn-outline-info my-2 my-sm-0" type="submit">Sair(3)</button>
			</form>
		</div>
	</nav>
</div>