<head>
<meta charset="UTF-8">
</head>
<div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#" ui-sref="principal">Portal do Ledor</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"	data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" ui-sref="principal"><a class="nav-link" href="#">Principal</a></li>
				<li class="nav-item" ui-sref="contato"><a class="nav-link" href="#">Contato</a></li>
				<li class="nav-item" ui-sref="localizacao"><a class="nav-link" href="#">Localização</a></li>
			</ul>
			<ul class="form-inline my-2 my-lg-0">
				<button ui-sref="login" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
			</ul>
		</div>
	</nav>
</div>