<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Noticias</title>
</head>
<body>
    <section class="py-5">
        <div class="container">
            <div class="container">
                <h3>Gerenciar Usuário</h3>
                <p class="lead">Área para gerenciar cadastro dos usuários do sistema pelo administrador.</p>
                <hr class="my-4">
            </div>
            <div ng-show="listarUsuarios.length == 0">
                <div class="alert alert-danger" role="alert">
                    Nenhum usuário cadastrado.
                </div>
            </div>
            <table ng-show="audioLivros != 0" class="table">
                <div ng-show="audioLivros">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Situação</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="usuario in listarUsuarios">
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{usuario.usuario}}</td>
                        <td>{{usuario.nomePessoa}}</td>
                        <td>{{usuario.perfilNome}}</td>
                        <td>{{formatarSituacao(usuario.idSituacaoAprovacao)}}</td>
                        <td align="right">
                            <button type="button" ng-show="mostrarReprovar(usuario)" data-toggle="modal" data-target="#modalRejeitar" ng-show="usuario.perfilId == 3 && (usuario.situacaoId == 0 || usuario.situacaoId == 1)" ng-click="prepararRejeitar(usuario.id)" class="btn btn-dark">Rejeitar</button>
                            <button type="button" ng-show="mostrarAprovar(usuario)" ng-click="aprovar(usuario.id)" class="btn btn-dark">Aprovar</button>
                            <button type="button" ng-click="visualizarUsuario(usuario.id)" class="btn btn-dark">Visualizar/Editar</button>
                            <button type="button" ng-click="desativar(usuario.id)" class="btn btn-dark">Desativar</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right">
                            <button type="button" ng-click="cadastrarUsuario(audioLivro.id)" class="btn btn-dark">Adicionar Usuário</button>
                        </td>
                    </tr>
                    </tbody>
                </div>
            </table>
        </div>
        <div class="container">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button type="button" ng-click="voltar()" class="btn btn-dark">Voltar</button>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade"  id="modalRejeitar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRejeicao">Rejeitar Cadastro Ledor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label >Motivo da rejeição</label>
                            <textarea class="form-control" ng-model="modalMotivo"  id="textoModalRejeitar" rows="3"></textarea>
                            <small  class="form-text text-muted">Breve motivo da rejeição e a possível solução para a aprovação.</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="limparRejeitar()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-click="rejeitar()" class="btn btn-primary"  data-dismiss="modal">Rejeitar Aula</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>