<!doctype html>
<html lang="en">
 	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Noticias</title>
	</head>
	<body>
		<div>
			<section class="py-5">
				<div class="container">
					<md-datepicker id="selecaoData" md- ng-model="dataSelecionada" md-placeholder="Selecion um dia" md-open-on-focus=""></md-datepicker>
					<button style="margin: 5px" type="button" ng-click="acessarAgendaBusca()" class="btn btn-primary">Buscar</button>
				</div>
				<div ng-show="!agendaDia.listaAulas" class="container">
					<div class="d-flex justify-content-center">
						<div class="spinner-grow text-primary" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
				</div>
				<div ng-show="agendaDia" class="container">
					<ul class="list-group">
						<li class="list-group-item active">{{agendaDia.data}}</li>
						<li ng-show="agendaDia.listaAulas" ng-repeat="aula in agendaDia.listaAulas" class="list-group-item">
							<span ng-show="aula.id" class="align-middle">{{aula.descricao + ' - Ledor: ' + aula.ledor + ' - Situação: ' + aula.aprovado}}</span>
							<button disabled ng-show="aula.id && !aula.aulaLedor" type="button" ng-click="" class="btn btn-success float-right align-middle">Marcar</button>
							<button ng-show="aula.aulaLedor" type="button" ng-click="cancelar(aula.id)" class="btn btn-danger float-right align-middle">Cancelar</button>
							<span ng-show="!aula.id" class="align-middle">{{aula.descricao}}</span>
							<button ng-show="!aula.id" type="button" data-toggle="modal" data-target="#modalMarcar" ng-click="modalMarcar(aula.horarioId)" class="btn btn-success float-right align-middle">Marcar</button>
						</li>
						<li ng-show="agendaDia.listaAulas.length == 0" class="list-group-item">Não existem aulas registradas para este dia.</li>
					</ul>
				</div>
				<p></p>
				<div class="container">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<button type="button" ng-click="acessarAgendaAnterior()" class="btn btn-primary">Anterior</button>
						<button type="button" ui-sref="menu" class="btn btn-danger">Voltar</button>
						<button type="button" ng-click="acessarAgendaProxima()" class="btn btn-primary ">Próximo</button>
					</div>
				</div>
			</section>
		</div>

		<!-- Modal -->
		<div class="modal fade"  id="modalMarcar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">Marcar Aula</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label>Título Aula</label>
								<input type="text" class="form-control" ng-model="aula.titulo"  aria-describedby="emailHelp">
								<small  class="form-text text-muted">O título de referência que será utilizado para indentificar a aula.</small>
							</div>

							<div class="form-group">
								<label>Assunto Aula</label>
								<ui-select ng-model="aula.assunto" theme="bootstrap">
									<ui-select-match placeholder="Selecione um Assunto referência...">{{$select.selected.nome}}</ui-select-match>
									<ui-select-choices repeat="assunto as assunto in listaAssunto | filter:{nome: $select.search}">
										<div ng-bind-html="assunto.nome | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
								<small  class="form-text text-muted">Selecione o assunto no qual a aula será baseada.</small>
							</div>

							<div class="form-group">
								<label >Descriçao</label>
								<textarea class="form-control" ng-model="aula.descricao"  id="exampleFormControlTextarea1" rows="3"></textarea>
								<small  class="form-text text-muted">Breve descrição sobre o conteudo da aula á ser ministrada.(Tamanho máximo de 255 caracteres)</small>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<button type="button" ng-click="salvarAula()" class="btn btn-primary"  data-dismiss="modal">Marcar Aula</button>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>