<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Noticias</title>
	</head>
	<body>
		<section class="py-5">
			<div class="container">
				<!--<div ng-show="faltaTermo" class="alert alert-secondary" role="alert">
					Informe um termo para a busca!
				</div>-->
				<div class="form-label-group">
					<div class="form-group">
						<label for="termo">Termo</label>
						<input type="text" ng-model="termo"  class="form-control" placeholder="Digite ou diga um termo referente ao audio livro" id="termo">
						<!--<input ng-model="termo" type="text" class="form-control" id="termo" placeholder="Digite ou diga um termo referente ao audio livro" accesskey="1">-->
					</div>
				</div>
			</div>
			<div class="container">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<button type="button" ng-click="acessarLista()" class="btn btn-primary ">Buscar</button>
					<button type="button" ui-sref="menu" class="btn btn-danger"> Voltar</button>
				</div>
			</div>
		</section>
	</body>
</html>